@charset "utf-8";
/* CSS Document */

*{
	padding:0;
	margin:0;
}

li{
	list-style-type:none;
}

a{
	text-decoration:none
}

.design-box{
	width:1280px;
	margin:0 auto;
}

header{
	height:57px;
	background:#fff;
}

.center-container{
	width:1155px;
	margin:0 auto;
}

.center-container .logo-pic{
	float:left;
	margin-top:13px;
}

.center-container .logo-text{
	float:left;
	margin-top:18px;
	margin-left:12px;
	font-size:21px;
	color:#393a3a;
	font-family:"simhei";
}

.center-container .header-list{
	float:right;
	margin-top:18px;
}

.center-container .header-list .header-list-item{
	float:left;
	width:66px;
	height:35px;
	line-height:16px;
	text-align:center;
	margin-right:24px;
}

.center-container .header-list .header-list-item a{
	color:#8e9197;
	font-size:14px;
}

.center-container .header-list .header-list-item .login{
	color:#e74f4d;
	margin-left:6px;
}

.center-container .header-list .header-list-item:hover{
	border-bottom:4px solid #e74f4d;
	
}

.center-container .header-list .header-list-item a:hover{
	color:#e74f4d;
}

.index-barnner{
	position:relative;
}

.index-barnner .barnner-box{
	position:absolute;
	top:230px;
	left:117px;
}

.index-barnner .barnner-box h1{
	font-size:60px;
	color:#fff;
	font-weight:normal;
	line-height:51px;
}

.index-barnner .barnner-box p{
	font-size:21px;
	color:#fff;
	line-height:32px;
	margin-top:24px;
}

.index-barnner .barnner-box .barnner-box-btn{
	width:331px;
	background:#e74f4d;
	text-align:center;
	line-height:64px;
	margin-left:10px;
	margin-top:61px;
}

.index-barnner .barnner-box .barnner-box-btn a{
	color:#fff;
	font-size:30px;	
}

.index-barnner2{
	height:250px;
	background:#fff;
}

.index-barnner2 .index-barnner2-imgs{
	margin-top:45px;
}

.index-barnner2 .index-barnner2-imgs .index-barnner2-imgs1{
	margin-left:146px;
}

.index-barnner2 .index-barnner2-imgs .index-barnner2-imgs2{
	margin-left:290px;
}

.index-barnner2 .index-barnner2-imgs .index-barnner2-imgs3{
	margin-left:277px;
}

.index-barnner2 .index-barnner2-imgs .index-barnner2-imgs4{
	margin-left:280px;
}

.index-barnner2 .index-barnner2-box{
	margin-top:46px;
}

.index-barnner2 .index-barnner2-box .index-barnner2-box-m{
	float:left;
	font-size:14px;
	font-family:simhei;
	color:#aaa;
	height:53px;
	text-align:center;
	border-right:2px solid #aaa;
}

.index-barnner2 .index-barnner2-box .index-barnner2-box-1{
	width:323px;
}

.index-barnner2 .index-barnner2-box .index-barnner2-box-2{
	width:332px;
}

.index-barnner2 .index-barnner2-box .index-barnner2-box-3{
	width:316px;
}

.index-barnner2 .index-barnner2-box .index-barnner2-box-4{
	width:303px;
	border-right:0;
}

.index-barnner3{
	position:relative;
	height:361px;
	background:#edecec;
	text-align:center;
}

.index-barnner3 .index-barnner3-logo{
	position:absolute;
	top:89px;
	left:595px;
}

.index-barnner3 .index-barnner3-text{
	font-size:53.6px;
	font-family:simhei;
	color:#a1a1a1;
	padding-top:229px;
}

.index-map{
	height:341px;
	background:url(../img/map.jpg) no-repeat;
	position:relative;
}

.index-map .index-map-title{
	text-align:center;
	font-size:21px;
	color:#fff;
	line-height:22px;
	font-weight:normal;
	padding-top:53px;
}

.index-map .index-map-bar{
	position:absolute;
	width:31px;
	border:3px solid #fff;
	top:84px;
	left:601px;
}

.index-map .index-map-text{
	font-size:12px;
	line-height:14px;
	color:#fff;
	text-align:center;
	margin-top:33px;
}

.index-map .index-map-selectlist{
	margin-top:53px;
	margin-left:127px;
}

.index-map .index-map-selectlist{
	font-size:0;
}

.index-map .index-map-selectlist button{
	display:block;
	width:234px;
	height:34px;
	background:#be4e48;
	color:#fff;
	border:1px solid #be4e48;
	font-size:14px;
	letter-spacing:26px;
	padding-left:26px;
	cursor:pointer;
}

.index-activity{
	height:605px;
	background:#f7f7f7;
	overflow:hidden;
}

.index-activity .index-activity-pics{
	position:relative;
	margin-top:102px;
	margin-left:148px;
}

.index-activity .index-activity-pics .index-activity-pics-box{
	width:220px;
	height:390px;
	float:left;
	margin-right:36px;
}

.index-activity .index-activity-pics .index-activity-pics-box .pics-box-title{
	font-size:20px;
	font-family:"Microsoft YaHei";
	text-align:center;
}

.index-activity .index-activity-pics .index-activity-pics-box .pics-box-title-text,.index-activity .index-activity-pics .index-activity-pics-box .pics-box-sm-title-text{
	color:#818182;
	text-align:center;
	font-size:12px;
}

.index-activity .index-activity-pics .index-activity-pics-box .pics-box-imgbox{
	width:218px;
	height:336px;
	background:#fff;
	border:1px solid #ccc;
	position:absolute;
	top:0;
	transition:0.5s;
}

.index-activity .index-activity-pics .index-activity-pics-box .pics-box-imgbox:hover{
	top:54px;
}

.index-activity .index-activity-pics .index-activity-pics-box .pics-box-imgbox img{
	padding-top:14px;
	padding-left:9px; 
}

.index-activity .index-activity-pics .index-activity-pics-box .pics-box-sm-title{
	font-size:14px;
	text-align:center;
	margin-top:300px;
}

.index-barnner4{
	height:567px;
}

.index-barnner4 .index-barnner4-left{
	width:850px;
	height:567px;
	background:url("../img/people.jpg") no-repeat;
	float:left;
	position:relative;
}

.index-barnner4 .index-barnner4-left .index-barnner4-left-title1{
	font-size:49.5px;
	color:#fff;
	padding-top:132px;
	text-align:center;
	line-height:49px;
}

.index-barnner4 .index-barnner4-left .index-barnner4-left-title2{
	font-size:157.8px;
	color:#fff;
	text-align:center;
	line-height:140px;
}

.index-barnner4 .index-barnner4-left .index-barnner4-left-city{
	font-size:22px;
	color:#fff;
	margin-top:27px;
	text-align:center;
	line-height:25px;
}

.index-barnner4 .index-barnner4-left .index-barnner4-left-time{
	font-size:22px;
	color:#fff;
	margin-top:19px;
	text-align:center;
}

.index-barnner4 .index-barnner4-left .index-barnner4-left-triangle{
	border-right:25px solid #fff;
	border-top:16px solid transparent;
	border-bottom:16px solid transparent;
	position:absolute;
	right:0;
	top:268px;
}

.index-barnner4 .index-barnner4-right{
	width:430px;
	background:#FFF;
	float:left;
}

.index-barnner4 .index-barnner4-right .index-barnner4-right-title{
	font-size:22px;
	line-height:22px;
	text-align:center;
	padding-top:165px;
}

.index-barnner4 .index-barnner4-right .index-barnner4-right-text{
	font-size:12px;
	color:#bdbdbd;
	line-height:30px;
	width:289px;
	margin-left:71px;
	margin-top:21px;
}

.index-barnner4 .index-barnner4-right .index-barnner4-right-button{
	width:103px;
	height:31px;
	color:#e74f4d;
	font-size:12px;
	text-align:center;
	line-height:31px;
	border:1px solid #e74f4d;
	margin-top:47px;
	margin-left:162px;
	display:block;
}

.index-barnner4 .index-barnner4-right .index-barnner4-right-btngroup{
	margin-top:25px;
	margin-left:185px;
	font-size:0;
}

.index-barnner4-right-btngroup .btn{
	width:11px;
	height:12px;
	border:1px solid #929293;
	border-radius:50%;
	display:inline-block;
	margin-right:14px;
}

.index-barnner4-right-btngroup .active{
	background:#929293;
}

.index-barnner5{
	height:521px;
}

.index-barnner5 .index-barnner5-col{
	width:426px;
	height:521px;
	float:left;
	background:#e74f4d;
}

.index-barnner5 .index-barnner5-col1{
	background:#fff;
}

.index-barnner5 .index-barnner5-col .index-barnner5-col-title1,.index-barnner5 .index-barnner5-col .index-barnner5-col-title2,.index-barnner5 .index-barnner5-col .index-barnner5-col-btn{
	font-size:21px;
	text-align:center;
	line-height:33px;
	font-family:simhei;
	color:#fff;
}

.index-barnner5 .index-barnner5-col .index-barnner5-col-title11,.index-barnner5 .index-barnner5-col .index-barnner5-col-title21,.index-barnner5 .index-barnner5-col .index-barnner5-col-btn1{
	color:#323333;
}

.index-barnner5 .index-barnner5-col .index-barnner5-col-title1{
	padding-top:165px;
}

.index-barnner5 .index-barnner5-col .index-barnner5-col-bar{
	width:31px;
	border-top:2px solid #FFF;
	margin-top:17px;
	margin-left:198px;
}

.index-barnner5 .index-barnner5-col .index-barnner5-col-bar1{
	border-top-color:#aaaaaa;
}

.index-barnner5 .index-barnner5-col .index-barnner5-col-btn{
	width:167px;
	height:41px;
	border:1px solid #fff;
	line-height:41px;	
	display:inline-block;
	margin-top:25px;
	margin-left:128px;
}

.index-barnner5 .index-barnner5-col .index-barnner5-col-btn1{
	border:1px solid #e74f4d;
	color:#e74f4d;
}

.index-barnner5 .index-barnner5-img{
	background:url("../img/station.jpg") no-repeat;
	float:left;
	width:428px;
	height:521px;
	position:relative;
}

.index-barnner5 .index-barnner5-img .index-barnner5-img-triangle{
	border-left:26px solid #fff;
	border-top:15px solid transparent;
	border-bottom:15px solid transparent;
	position:absolute;	
	top:246px;
	left:0;
}

.index-invite{
	width:1280px;
	height:752px;
}

.index-invite .index-invite-title{
	font-size:21px;
	font-family:simhei;
	line-height:23px;
	padding-top:118px;
	text-align:center;
	color:#323333;
}

.index-invite .index-invite-bar{
	width:30px;
	border-top:2px solid #e74f4d;
	margin-top:8px;
	margin-left:626px;
}

.index-invite .index-invite-text{
	font-size:12px;
	color:#aaaaaa;
	text-align:center;
	width:424px;
	margin-top:12px;
	margin-left:427px;
	line-height:20px;
}

.index-invite .index-invite-box{
	margin-top:107px;
	margin-left:137px;
}

.index-invite .index-invite-box .index-invite-box-left{
	float:left;
	width:291px;
}

.index-invite .index-invite-box .index-invite-box-left .index-invite-box-left-title{
	font-size:14px;
	font-family:simhei;
	line-height:20px;
}

.index-invite .index-invite-box .index-invite-box-left .index-invite-box-left-text{
	font-size:12px;
	color:#aaaaaa;
	margin-top:24px;
	line-height:20px;
	font-family:simsun;
}

.index-invite .index-invite-box .index-invite-box-left .index-invite-box-left-btn{
	float:right;
	margin-top:10px;	
}

.index-invite .index-invite-box .index-invite-box-left .index-invite-box-left-btn .index-invite-box-left-btn-text{
	font-size:12px;
	color:#aaaaaa;
	margin-left:7px;
}

.index-invite .index-invite-box .index-invite-box-left .bar{
	margin-bottom:40px;
}

.index-invite .index-invite-box .index-invite-box-right{
	float:left;
	margin-left:74px;
}

.index-invite-box-right-form{
	width:656px;
}

.form-bar{
	float:left;
	width:310px;
	height:40px;
	background:#ededed;
	margin-right:18px;
	margin-bottom:13px;
}

.form-bar-big{
	width:638px;
	height:121px;
}

.form-bar-big .form-input{
	width:610px;
	height:72px;
	margin-left:16px;
}

.form-bar .form-label{
	font-size:12px;
	font-family:simsun;
	line-height:40px;
	margin-left:16px;
	color:#6c6868;
}

.form-bar .form-input{
	background:#ededed;
	border:0;
}

.form-button{
	float:left;
	width:638px;
	height:40px;
	background:#ededed;
	text-align:center;
	line-height:40px;
	font-size:14px;
	font-family:simhei;
	color:#323333;
	border:0;
	cursor:pointer;
}

footer{
	height:416px;
	background:#32353e;
}

.footer-title{
	font-size:21px;
	font-family:simhei;
	color:#fff;
	line-height:23px;
	padding-top:90px;
	text-align:center;
}

.footer-text{
	width:470px;
	font-size:12px;
	font-family:simsun;
	color:#fff;
	line-height:18px;
	margin-top:6px;
	margin-left:408px;
	text-align:center;
}

.footer-form{
	font-size:0;
	margin-top:25px;
	margin-left:386px;
}

.footer-form .footer-form-text{
	width:420px;
	height:39px;
	padding-left:9px;
	font-size:14px;
	color:#aaaaaa;
}

.footer-form .footer-form-btn{
	width:80px;
	height:42px;
	font-size:15px;
	font-family:simhei;
	color:#fff;
	background:#6f7278;
	border:0;
	cursor:pointer;
}

.footer-box{
	font-size:0;
	margin-top:38px;
	margin-left:549px;
}

.footer-box .footer-icon{
	margin-right:25px;
}

.footer-copyright{
	height:55px;
	font-size:12px;
	font-family:simsun;
	color:#fff;
	padding-left:101px;
	line-height:55px;
	background:#303039;
	margin-top:73px;
}

.footer-btn{
	float:right;
	font-size:12px;
	font-family:simsun;
	color:#fff;
	margin-right:39px;	
}